.git
.gitignore
.github

node_modules
npm-debug.log

vendor
composer.phar

.env
.env.*
!.env.example

storage/*.key
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore

public/build
public/hot
public/storage

tests
.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.DS_Store

docker-compose.yml
docker-compose.*.yml
